# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.zip
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
target
*.iml

# eclipse dot files
.classpath
.factorypath
.project
.settings/

# DS Store junk file in Mac
.DS_Store
*mistakes-report.html

.gradle
/build/
gradle/wrapper/gradle-wrapper.jar

