# This workflow will build Cerberus Executable and Uploads the generated binary to release

name: Compile And Assemble

on:
  push:
    branches: [ main, proceeding, betterment ]
  pull_request:
    branches: [ main, proceeding, betterment ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup asdf and install tools
      uses: asdf-vm/actions/install@v4
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Build Binary Executable
      run: ./gradlew clean build shadowJar -x spotbugsMain
