# This workflow will build Cerberus and perform Mutation Analysis

name: Mutation Analysis 99%

on:
  push:
    branches: [ main, proceeding, betterment ]
  pull_request:
    branches: [ main, proceeding, betterment ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup asdf and install tools
        uses: asdf-vm/actions/install@v3
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Run Mutation Analysis
        run: ./gradlew pitest
